:root {
    --primary-color-light: #f0f6ff;
    --primary-color-dark: #003475;

    --text-color-light: #ffffff;
    --text-color-dark: #000000;
}

html {
    overflow-y: scroll;
}

@media (min-width: 992px) {
    .container {
        max-width: 850px !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 850px !important;
    }
}

/* Nav Bar */

.nav {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.nav::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 100%;

    width: 100%;
    height: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.nav.is-collapse {
    background-color: rgba(255, 255, 255, 1);
}

.navbar-brand {
    /* color: rgba(0, 0, 0, 0.9); */
    color: rgba(10, 10, 10, 1);
}

.navbar-brand:hover,
.navbar-brand:focus {
    /* color: rgba(0, 0, 0, 0.9); */
    color: rgba(10, 10, 10, 1);
}

.navbar-nav .nav-link {
    /* color: rgba(0, 0, 0, 0.5); */
    color: rgba(100, 100, 100, 1);
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    /* color: rgba(0, 0, 0, 0.7); */
    color: rgba(75, 75, 75, 1);
}

.navbar-nav .nav-link.disabled {
    /* color: rgba(0, 0, 0, 0.3); */
    color: rgba(180, 180, 180, 1);
}

.navbar-nav .show>.nav-link,
.navbar-nav .active>.nav-link,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link.active {
    /* color: rgba(0, 0, 0, 0.9); */
    color: rgba(10, 10, 10, 1);
}

nav .navbar-toggler {
    /* color: rgba(0, 0, 0, 0.5); */
    /* border-color: rgba(0, 0, 0, 0.1); */
    color: rgba(100, 100, 100, 1);
    border-color: rgba(100, 100, 100, 1);
}

nav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-text {
    /* color: rgba(0, 0, 0, 0.5); */
    color: rgba(100, 100, 100, 1);
}

.navbar-text a {
    /* color: rgba(0, 0, 0, 0.9); */
    color: rgba(10, 10, 10, 1);
}

.navbar-text a:hover,
.navbar-text a:focus {
    /* color: rgba(0, 0, 0, 0.9); */
    color: rgba(10, 10, 10, 1);
}

.dropdown-logo {
    padding-left: 40px;
    padding-right: 40px;
}

.navbar-nav:not(.is-collapse) {
    margin-left: auto;
    margin-right: auto;
}

.nav.is-collapse .navbar-logo {
    margin-left: 50%;
    transform: translateX(-50%);
}

.nav:not(.is-collapse) .navbar-logo,
.nav.is-collapse .dropdown-logo {
    display: none;
}

.navbar-nav .nav-item {
    align-self: center;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-placeholder {
    height: 56px;
    /* Height of nav bar */
}

/* Footer */

.page-footer {
    height: 40px;

    border-top: solid white 1px;
    color: white;
    background-color: var(--primary-color-dark);
}

.page-footer p {
    margin: 0;
    font-size: 14px;
}

/* UI Elements */

input[type="text"] {
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
}

/* Custom Dropdown */

.select-container {
    display: inline-block;
    position: relative;
    color: black;
}

.select-container select {
    display: none;
}

.select-container .select-display,
.select-container .select-items {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    cursor: pointer;
}

.select-container .select-items {
    position: absolute;
    width: 100%;
    z-index: 99;
    margin-top: 4px;
    
    overflow: hidden;

    display: none;
}

.select-container.select-active .select-items {
    display: block;
}

.select-container .select-display,
.select-container .select-item {
    padding: 4px 8px;
}

.select-container .select-display:after {
    position: absolute;
    content: "";
    top: 15px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #000 transparent transparent transparent;
}

.select-container.select-active .select-display:after {
    top: 8px;
    border-color: transparent transparent #000 transparent;
}

.select-container .select-item:hover,
.select-container .select-item.select-selected {
    background-color: var(--primary-color-light);
}

/* Content */

.hidden {
    display: none !important;
}

.container-padding-bottom {
    padding-bottom: 50px;
}

.row-padding-spacer-medium {
    padding-top: 50px;
    padding-bottom: 10px;
}

.row-padding-spacer-small {
    padding-top: 10px;
    padding-bottom: 10px;
}

.row-padding-spacer-large {
    padding-top: 70px;
    padding-bottom: 70px;
}

#content-body {
    min-height: calc(100vh - 40px);
}

#content-body h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
}

#content-body h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
}

#content-body h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}

#content-body h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}

#content-body,
p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

#content-body .block-white a,
#content-body .block-light a {
    color: #808080;
}

#content-body .block-white a:hover,
#content-body .block-light a:hover {
    color: #000000;
    text-decoration: none;
}

#content-body .block-dark a {
    color: #c0c0c0;
}

#content-body .block-dark a:hover {
    color: #ffffff;
    text-decoration: none;
}

ul.custom-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-ul li {
    padding-left: 0px;
    margin-bottom: 0.25rem;
}

.custom-ul li:before {
    content: "►";
    padding-right: 8px;
}

.italic {
    font-style: italic;
}

.translate-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Loader Panel */

#loader-throbber {
    animation: rotation 1.5s infinite linear;
    -webkit-animation: rotation 1.5s infinite linear;

    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

/* Theme Panels */

.panel {
    padding-top: 50px;
    padding-bottom: 50px;
}

.block-white {
    color: black;
    background-color: white;
}

.block-light {
    color: var(--text-color-dark);
    background-color: var(--primary-color-light);
}

.block-dark {
    color: var(--text-color-light);
    background-color: var(--primary-color-dark);
}

.clear-panel-white {
    height: 100%;
    padding: 12px;

    background: transparent;
    border: white solid 1px;
    border-radius: 5px;
}