#content-body .banner {
    position: relative;
    width: 100%;
    height: 300px;
    overflow-x: hidden;
    
    background-color: #e2f0fe;
}

#content-body .banner-bg {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

#content-body .banner-img {
    position: absolute;
    top: 0px;
    height: 100%;
    transform: translateX(-50%);
}

#content-body .story-info-box {
    background-color: var(--primary-color-light);
    border-radius: 5px;
    margin: 4px 0;
    padding: 16px 30px;
}

#content-body .story-info-box:first-child {
    margin-top: 0;
}

#content-body .story-info-box:last-child {
    margin-bottom: 0;
}

#content-body .story-info-box .story-title,
#content-body .story-info-box .story-teaser,
#content-body .story-info-box .story-tags,
#content-body .story-info-box .story-wordcount {
    margin: 0;
}

#content-body .story-info-box .story-title {
    margin-bottom: 10px;

    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

#content-body .story-info-box .story-title-link {
    color: #606060; /* Make this a bit darker than normal links */
}

#content-body .story-info-box .story-teaser {
    font-size: 16px;
    font-style: italic;
    text-align: justify;
    line-height: 1.2em;

    margin-bottom: 14px;
}

#content-body .story-info-box .ellipsis-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#content-body .story-info-box .story-tags,
#content-body .story-info-box .story-wordcount {
    font-size: 14px;
    font-weight: bold;
}

#content-body .story-info-box .story-tags-text,
#content-body .story-info-box .story-wordcount-text {
    font-weight: normal;
}

#content-body .no-story-info-box {
    background-color: var(--primary-color-light);
    border-radius: 5px;
    margin: 4px 0;
    padding: 32px 30px;
}

#content-body .no-story-info-box p {
    margin: 0;
}

#content-body #search-input,
#content-body .search-container {
    width: 100%;
}

#content-body .search-container .tt-input,
#content-body .search-container .tt-hint {
    width: 100%;
}

#content-body .search-container .tt-menu {
    width: 100%;
    margin-top: 4px;

    border-radius: 5px; 
    border: 1px solid #bbbbbb;
    background-color: white;
}

#content-body .search-container .tt-dataset {
    padding-top: 2px;
}

#content-body .search-container .tt-dataset:not(:first-child) {
    margin-top: 6px;
    border-top: 1px solid #dddddd;
}

#content-body .search-container .tt-dataset:not(:last-child) {
    margin-bottom: 6px;
}

#content-body .search-container .tt-dataset-header {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #666666;

    padding: 2px 8px;
}

#content-body .search-container .tt-selectable:hover,
#content-body .search-container .tt-selectable.tt-cursor {
    background-color: var(--primary-color-light);
}

#content-body .search-container .tt-suggestion {
    padding: 0 8px;
}

#content-body .search-container .tt-dataset-story .tt-suggestion {
    padding: 6px 8px;
}

#content-body .search-container .tt-dataset-story .tt-suggestion:nth-child(even):not(:hover):not(.tt-cursor) {
    background-color: #f0f0f0;
}

#content-body .search-container .tt-suggestion .story-title {
    font-weight: 700;
}

#content-body .search-container .tt-suggestion .story-tag-list {
    font-size: 16px;
    line-height: 16px;
    font-style: italic; 
}

#content-body #search-tag-container h3 {
    content: "Tags";
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    display: block;

    margin-bottom: 10px;
    padding: 0;
}

#content-body #search-tag-container {
    margin-top: 22px;
}

#content-body #search-list-tag-container {
    margin: -2px;
}

#content-body #search-list-tag-container .tag {
    display: inline-block;
    position: relative;
    margin: 2px;
    padding: 4px 12px 4px 12px;

    cursor: pointer;
    color: var(--text-color-light);
    background-color: var(--primary-color-dark);
    border-radius: 5px;
}

#content-body #sort-select {
    margin-left: 3px;
    width: 240px;
}