:root {
    --background-color: white;
    --story-width: 650px;

    --title-color: black;
    --subtitle-color: #666666;
    --text-color: black;

    --title-font: 'Raleway', sans-serif;
    --subtitle-font: 'Raleway', sans-serif;
    --text-font: 'Lato', sans-serif;

    --title-font-size: 22px;
    --subtitle-font-size: 14px;
    --text-font-size: 15px;

    --title-font-size: 22px;
    --subtitle-font-size: 14px;
    --text-font-size: 15px;
    
}

html {
    /* Prevent font scaling in landscape while allowing user zoom */
    -webkit-text-size-adjust: 100%;
}

#story-form {
    display: block;
}

.page {
    /*
        Add spacing at the top and bottom of the story
        so that it's not too close to the edges of the
        page
    */
    padding-top: 100px;
    padding-bottom: 50px;

    /* Remove the margin on the sides */
    margin: 0;

    /* Background color of page */
    background-color: var(--background-color);

    /* Default text color */
    color: var(--text-color);
}

.story-container {
    /* Center the story in the middle of the page */
    display: flex;
    justify-content: center;
}

.title {
    margin: 0 0 2px 0;

    /* Title font info */
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    line-height: calc(var(--title-font-size) + 6px);
    color: var(--title-color);
}

.subtitle {
    margin: 0;

    /* Subtitle font info */
    font-family: var(--subtitle-font);
    font-size: var(--subtitle-font-size);
    line-height: calc(var(--subtitle-font-size) + 4px);
    color: var(--subtitle-color);
}

.story {
    /* Spacing between the sides of the story
       and the screen */
    margin: 0 12px;

    /* Limits how wide the story can be */
    max-width: var(--story-width);

    /* Story font info */
    font-family: var(--text-font);
    font-size: var(--text-font-size);
    line-height: 1.5em;
}

.image {
    /* Images take up 80% of the story's width */
    max-width: 80%;

    /* Ensure the image maintains its aspect ratio */
    object-fit: contain;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through;
}

.underline.strikethrough {
    text-decoration: underline line-through;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/*
    Prefix and suffixes are descriptions that come
    before and after the story respectively
*/

.prefix-container,
.suffix-container {
    /* Center the descriptions in the middle of the page */
    display: flex;
    justify-content: center;
}

.prefix-text,
.suffix-text {
    /* Limits how wide the descriptions can be */
    width: 100%;
    max-width: 650px;
}

.prefix-text > div,
.suffix-text > div {
    /* Description font info */
    font-family: 'Lato', sans-serif;
    font-size: var(--text-font-size);
    line-height: calc(var(--text-font-size) + 3px);

    /* Encloses the descriptions in a box */
    border-style: solid;
    border-color: var(--text-color);
    border-width: 0.5px;
    border-radius: 4px;

    /* Adds space between the box outline and the text */
    padding: 20px;
}

.prefix-text > div {
    /* Adds vertical space below the description box */
    margin: 0 0 40px 0;
}

.suffix-text > div {
    /* Adds vertical space above the description box */
    margin: 40px 0 0 0;
}

.prefix-text a,
.suffix-text a {
    /* Hyperlink color */
    color: #909090;

    /* Remove hyperlinks' underline */
    text-decoration: none;
}

.prefix-text a:hover,
.suffix-text a:hover {
    /* Hyperlink mouseover color */
    color: #101010;
}

#info-toggle-button {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;

    border: solid #666666 1px;
    border-radius: 20%;
    background-color: rgba(255, 255, 255, 0.9);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#info-toggle-button .icon {
    width: 75%;
    height: 75%;

    background-color: #666666;
    -webkit-mask-image: url("../resources/info-icon.svg");
    mask-image: url("../resources/info-icon.svg");
    -webkit-mask-size: 100%;
    mask-size: 100%;
}

.story-info-container {
    /* Positions the story info box as an overlay on top
       of the page */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;

    background-color: var(--background-color);

    /* Center the story info in the middle of the page */
    display: flex;
    justify-content: center;
}

.story-info-container::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 100%;

    width: 100%;
    height: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.story-info-scroll-container {
    /* Container to handle scrolling if the story info
       is too long for the window */
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;

    display: flex;
    justify-content: center;
}

.story-info {
    /* Spacing between the sides of the story
       and the screen */
    margin: 0 12px;

    /* Fills up the rest of the container */
    width: 100%;
    
    /* Limits how wide the story can be */
    max-width: var(--story-width);

    /* Top and bottom padding */
    padding: 50px 0 50px 0;

    /* Story font info */
    font-family: var(--text-font);
    font-size: var(--text-font-size);
    line-height: calc(var(--text-font-size) + 3px);
}

.story-info p {
    margin: 0;
}

.story-info p:before,
.story-info p:after {
    margin: 0;
}

.story-info .story-info-title {
    font-size: var(--title-font-size);
    margin-bottom: 14px;

    font-family: var(--title-font);
    font-weight: bold;
}

.story-info .story-info-authors,
.story-info .story-info-commissioners,
.story-info .story-info-illustrators,
.story-info .story-info-word-count,
.story-info .story-info-reading-time,
.story-info .story-info-upload-date {
    color: var(--subtitle-color);
    font-size: var(--subtitle-font-size);
    line-height: calc(var(--subtitle-font-size) + 4px);
    font-style: italic;
}

.story-info .story-info-title,
.story-info .story-credit-container,
.story-info .story-misc-container {
    margin: 14px 0;
}

.story-info .story-info-teaser,
.story-info .story-info-summary,
.story-info .story-info-tags-container {
    margin: 24px 0;
}

.story-info .story-info-authors:before {
    content: "Written by ";
}

.story-info .story-info-commissioners:before {
    content: "Commissioned by ";
}

.story-info .story-info-illustrators:before {
    content: "Illustrated by ";
}

.story-info .story-info-teaser:before,
.story-info .story-info-summary:before,
.story-info .story-info-tags-container:before {
    display: block;
    font-size: calc(var(--text-font-size) + 1px);
    font-weight: bold;
    margin-bottom: 2px;
}

.story-info .story-info-teaser:before {
    content: "Teaser";
}

.story-info .story-info-summary:before {
    content: "Summary";
}

.story-info .story-info-summary br,
.story-info .story-info-summary-mask br {
    display: block;
    content: "";
    height: 10px;
}

.story-info .story-info-tags-container:before {
    content: "Tags";
}

.story-info .story-info-tags-container ul {
    margin: 0;
    padding: 0;
}

.story-info .story-info-tags-container li {
    display: inline-flex;
}

.story-info .story-info-tags-container li:not(:last-child):after {
    margin-right: 3px;
    content: ', ';
}

.story-info .story-info-word-count:after {
    content: " words";
}

.story-info .story-info-reading-time:after {
    content: " reading time";
}

.story-info .story-info-upload-date:before {
    content: "Uploaded on ";
}

.story-info .story-info-summary-container {
    position: relative;
}

.story-info .story-info-summary-mask {
    position: absolute;
    top: calc(var(--text-font-size) + 5px);
    bottom: 0;
    left: 0;
    right: 0;

    background-color: var(--background-color);
}

.story-info .story-info-summary-mask:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    content: "Click here to show spoilers";
    font-style: italic;
    font-family: var(--text-font);
    text-align: center;
}

.story-info .story-info-summary-blurred {
    opacity: 0.75;

    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

@media print {
    /* Formatting for printing to PDF */
    
    body {
        /*
            Remove padding on the top and bottom of
            the page
        */
        padding-top: 0;
        padding-bottom: 0;
    }

    .paragraph, .image {
        /* Do not split paragraphs */
        page-break-inside: avoid !important;
    }

    .prefix-text, .prefix-text *,
    .suffix-text, .suffix-text *,
    .story-info-container, .story-info-container *,
    #info-toggle-button, #info-toggle-button * {
        display: none !important;
    }
}